{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Oneplus 8</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam expedita consectetur asperiores vero ratione, fuga voluptas tempore consequuntur iste cupiditate maiores in tempora exercitationem animi earum repellat ea. Nihil, adipisci.
        </p>


    </div>

    <div class="col-4">
        <img src="assets/img/op8.jpg" class="img-thumbnail">


    </div>
    


</div>


{{> footer }}